{% extends 'base_admin.html.twig' %}

{% block title %}Modifier la formation -
	{{ formation.nom }}
{% endblock %}

{% block content %}


	{% for label, messages in app.flashes %}
		{% for message in messages %}
			<div class="{{ label }}-message">{{ message }}</div>
		{% endfor %}
	{% endfor %}

	<h1>Modifier la formation -
		{{ formation.nom }}</h1>

	<div class="">


		{{ form_start(form, {'attr': {'class': 'form-admin card'}}) }}
		<p style="color: white">Vous pouvez modifier les informations de la formation ci-dessous.</p>
		{{ form_label(form.nom) }}
		{{ form_widget(form.nom) }}


		{{ form_label(form.description) }}
		{{ form_widget(form.description) }}


		<button class="button button--primary" type="submit">Enregistrer</button>
		{{ form_end(form) }}

		<div style="display: flex; align-items: center; text-align: center;">
			<hr style="flex: 1; border: none; height: 1px; background-color: black;">
			<span style="padding: 0 10px; color: black;">Ou</span>
			<hr style="flex: 1; border: none; height: 1px; background-color: black;">
		</div>

		<form class="form-admin card" method="post" action="{{ path('admin_delete_formation', {id: formation.id}) }}" onsubmit="return confirm('Supprimer cette formation ?');">
			<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ formation.id) }}">
			<button class="button button--danger" type="submit">Supprimer la formation</button>
		</form>
	</div>

	<div class="mt-md">
		<a href="{{ path('admin_formation_show', {id: formation.id}) }}" class="button">← Retour</a>
	</div>
{% endblock %}
